body {
    margin: 0;
}

.top {
    display: block;
    height: 10%;
}

.bottom {
    display: block;
    height: 90%;
}

.random-btn {
    font-size: 30px;
    margin: 5px;
}

.search-box {
    width: 60%;
    font-size: 30px;
    margin: 5px;
}

.item-group {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    margin: 10px;
}

.item {
    display:flex;
    flex-direction: column;
    margin: 4px;
    height: 300px;
    width: 200px;
}

.item-img {
    height: 70%;
    width: 100%;
}

.modal {
    position: fixed;    
    background-color: rgba(0, 0, 0, 0.5);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;

    background-color: white;
    width: 50vw;
    height: 90vh;
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-title {
    margin: 10px;
    font-size: 16px;
}

.close-btn {
    margin: 10px;
    font-size: 16px;
}

.info-img {
    margin: 3px;
    height: 70%;
}

.info-description {
    height: 20%;
    margin: 0px 3px 3px 3px;
}