.body {
    margin: 0;
    padding: 0;
}

.searching-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 50%;
    font-size: 20px;
}

.random-btn {
    font-size: 50px;
    margin-right: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cat-card {
    display: flex;
    flex-direction: column;

    /* TODO: 카드 정렬하기 */
    margin-left: calc( (100% - (20% * 4)) / 4 );
    
    width: 250px;
    height: 350px;
}

.card-image {
    height: 70%;
}

.hidden {
    visibility: hidden;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 70%;
    width: 50%;
    padding: 10px;
    background-color: white;

    /* TODO: box-shadow */
}

.modal-image {
    height: 60%;
}

.modal-header {
    display: flex;
    justify-content: space-between;

    font-size: 30px;
}

.modal-title {
    margin: 0;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-image {
    width: 300px;
    height: 300px;
    border-radius: 49%;
}